<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<!--input 태그는 form 안에 적어 두는게 좋음-->
<!--input 태그에 type의 형태에 따라 다양한기능 구현 가능-->
<body class="grey-bg">

    <%- include('nav.ejs') %>
    
    <div class="detail-bg">
        <!--object 자료에서 데이터만 뽑고 싶으면?-->
        <!--(.)점찍고 자료이름-->
        <div>
        <h4><%= result.title %></h4>
        </div>
        <div>
        <p><%= result.content %></p>
        <p><%= result.user %><p>
        <a href="/chat/request?writerId=<%= result.user %>">채팅하기</a>
        <hr style="margin: 60px;">
        <div>
            <% for (let i = 0; i < result2.length; i++) { %>
                <p><strong><%= result2[i].writer %></strong> <%= result2[i].content %></p>
             <% } %> 
        </div>
        <form action="/comment" method="POST">
        <input name ="content">
        <input name = "parentId" value="<%= result._id%>" style = "display: none;">
        <button type = "submit">댓글작성</button>
        </form>

        <!-- <p><img src= "https://shtjsdnforum1.s3.ap-northeast-2.amazonaws.com/1706599665589"> -->
    </div> 
  
  </body>
</html>